* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


p,
h1,
h2 {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}


.image {
    width: 100px;
    height: 100px;
}

.image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: solid;
    padding: 5px;

}

.user {
    font-family: "Inter", sans-serif;
    background-color: white;
    width: 40%;
    height: 400px;
    margin: 15px;
    padding: 20px;
    border-radius: 20px;


}

.bio {
    width: 350px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 150px;



}

.bio p {
    background-color: brown;

    border-radius: 10px;
    padding: 5px 10px;
    border: solid;
    color: #fff;

}

#users {
    background-color: purple;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.main2 {
    background-color: purple;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;

}

.img {
    height: 350px;
    width: 350px;

}

.img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 10px;

}

.main p {
    background-color: #fff;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    padding: 5px;
    margin-top: 10px;


}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

/* ---------------------------- */


.one{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 50vh;
    gap: 20px;
}

.Lorem{
    width: 70%;
}

.text{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;

    border: 2px solid black;
    border-radius: 20px;
}

.text input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  
}

.text textarea {
        width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 90px;

}







































































































































































































































































































































































}